<h1>Editing stock_exchange</h1>

<%= render :partial => 'form' %>

<%= link_to 'Create Data Source', new_data_source_path %>
<%= link_to 'Show', @stock_exchange %> |
<%= link_to 'Back', stock_exchanges_path %>