<div class="graph">
<%= image_tag graph_path(graph, params.merge({:format => :png})),  :size => '400x200'%>
<%#= swf_tag "FlexChart", :size => "800x400", :flashvars => {:data_url => CGI::escape(url_for(:overwrite_params => { :controller => 'graphs', :action => 'show', :id => graph.id, :format => :xml})) }  %>
</div>

